# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science
* List popular tools for Data Science
* List popular libraries for Data Science

# Some of the popular languages that Data Scientists use are:
# 1.Julia
# 2.Scala
# 3.Python
# 4.R

# Some of the commonly used libraries used by Data Scientists include:
# 1.Pandas
# 2.Numpy
# 3.Matpotlib
# 4.Tensorflow

# Data science Tools

| Data Science Tools |
| -------------|
| Tensorflow | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
result = 5 + 4  
print(result)

9

### This a simple arithmetic expression to mutiply then add integer

In [3]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [4]:
minutes = 200

hours = minutes / 60 

print(hours)

3.3333333333333335

## Author

Shashank Pamu